<section>
  <div routerLink="/app/customers" class="mb-2 text-decoration" style="font-size: 13px;"><i
      class="fa-solid fa-arrow-turn-down-left me-2"></i> Back to customers</div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="m-0">Orders</h4>
    <input type="text" class="w-50 form-control" placeholder="Search by Title" (keyup)="searchFilter($event)">
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Booking Date</th>
          <th scope="col">Delivery Time</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders" (click)="navigatetoitem(item)">
          <td>{{item.orderNo}}</td>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.bookingDateTime | date:'medium'}}</td>
          <td>{{item.deliverDateTime | date:'medium'}}</td>
          <td>
            <span class="badge" [ngClass]="getStatusClass(item)">
              {{ item.status | titlecase }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="orders.length == 0" class="text-center">No Data Found!</div>
    <div *ngIf="orders.length > 0" class="justify-content-end d-flex">
      <ngb-pagination [maxSize]="5" [(page)]="page" (pageChange)="getPaginationFromServer($event)" [pageSize]="pageSize"
        [collectionSize]="totalSize">
        <ng-template ngbPaginationPrevious>
          <i class="fa-solid fa-chevron-left"></i>
        </ng-template>
        <ng-template ngbPaginationNext>
          <i class="fa-solid fa-chevron-right"></i>
        </ng-template>
      </ngb-pagination>
    </div>
  </div>
</section>