<app-alert *ngIf="bDisplayErrorBlock" [resMessage]="resMessage"></app-alert>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid px-4">
        <a class="navbar-brand text-white" href="javascript:void(0)" routerLink="/app/customers">Sample App</a>
        <div ngbDropdown class="d-inline-block">
          <div class="profile-dropdown" ngbDropdownToggle>
            <img  class="profile-width-height object-fit-cover cursor-pointer" [src]="userProfileImage" (error)="loadAvatar()"/>
          </div>
            <div class="dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem class="border-bottom py-2 disable"><i class="fa-light fa-user"></i> {{userDetails?.firstName}}</button>
                <button *ngIf="userDetails?.role == 'admin'" ngbDropdownItem class="border-bottom py-2" (click)="NavigateToUserModule()" ><i  class="fa-light fa-user"></i>User Manager</button>
                <button ngbDropdownItem class="border-bottom py-2" (click)="profileModal(content)" ><i  class="fa-light fa-address-card"></i> Profile</button>
                <button ngbDropdownItem class="border-bottom py-2" (click)="ResetPasswordValue(resetpassword)" ><i  class="fa-light fa-key"></i> Change Password</button>
                <button ngbDropdownItem (click)="logout()"><i class="fa-regular fa-right-from-bracket"></i> Logout</button>
            </div>
        </div>
    </div>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Edit Profile</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form >
        <div class="">
            <div class="d-flex justify-content-center">
              <div class="profile-avatar">
                <img *ngIf="!userProfileImage" class="separate-width-height object-fit-cover" [src]="userProfileImage"
                  (error)="loadAvatar()" alt="Profile Picture" />
                  <img *ngIf="userProfileImage" class="separate-width-height object-fit-cover" 
                  [src]="userProfileImage" (error)="loadAvatar()" alt="Profile Picture" />
                <span class="edit-profile-img d-flex align-items-center justify-content-center">
                  <div class="upload-btn-wrapper">
                    <input class="d-none" id="uploadfile" accept=".jpeg,.jpg,.png" type="file" name="myfile"
                      (change)="onFileSelect($event)" />
                    <label for="uploadfile"><i class="fa-solid fa-pen cursor-pointer"></i></label>
                  </div>
                </span>
              </div>
            </div>
          </div>
		
            <div class="form-group mb-3">
                <label class="form-label mb-1">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" [value]="userDetails?.firstName" disabled>
            </div>
            <div class="form-group mb-3">
                <label class="form-label mb-1">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" [value]="userDetails?.lastName" disabled>
            </div>
    </form>
	</div>
	
</ng-template>

<!-------------------- Reset Password Modal -------------------->
<ng-template #resetpassword let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Change Password</h5>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button> -->
  </div>
  <div class="modal-body">
    <form [formGroup]="resetPasswordForm">
      <div class="modal-body p-0">
        <div class="row">
          <div class="form-group mb-3 col-md-12">
            <label class="form-label " for="userid">User ID</label>
            <input
              type="text"
              placeholder="User ID"
              class="form-control input readOnly"
              id="userid"
              formControlName="userId"
              readonly
            />
          </div>
          <div class="form-group mb-3 col-md-12">
            <label class="form-label" for="newpassword">New Password</label>
            <input
              type="password"
              placeholder="New Password"
              class="form-control input"
              id="newpassword"
              formControlName="password"
            />
            <small
            *ngIf="
            resetPasswordForm.controls['password'].hasError('required') &&
            resetPasswordForm.controls['password'].touched
            "
            class="text-danger support-text"
            >New password is required</small
          >
          <small
          *ngIf="
          resetPasswordForm.controls['password'].errors?.['minlength']
          "
          class="text-danger support-text"
          >The input value is shorter than 8 characters</small
        >
          </div>
          <div class="form-group mb-3 col-md-12">
            <label class="form-label" for="repeatnewpassword">Confirm New Password</label>
            <input
              type="password"
              placeholder="Confirm New Password"
              class="form-control input"
              id="repeatnewpassword"
              formControlName="rptPassword"
            />
            <small
              *ngIf="
              resetPasswordForm.controls['rptPassword'].hasError('required') &&
              resetPasswordForm.controls['rptPassword'].touched 
              "
              class="text-danger support-text"
              >Confirm new password is required </small
            >
            <small
            *ngIf="
            resetPasswordForm.controls['rptPassword'].errors?.['minlength']
            "
            class="text-danger support-text"
            >The input value is shorter than 8 characters</small
          >
            <small *ngIf="resetPasswordForm.controls['rptPassword'].errors?.['mustMatch'] && resetPasswordForm.controls['rptPassword'].dirty"
                    class="text-danger">Password and confirm password does not match</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <app-loader *ngIf="bLoading"></app-loader> -->
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="DismissModal()"
    >
      Cancel
    </button>
    <button  type="button" class="btn btn-primary" (click)="ResetPassword()" >
      Submit
    </button>
    
  </div>
</ng-template>
<!--------------------------------------------------------------------->
