<app-alert *ngIf="DisplayErrorBlock" [resMessage]="resMessage"></app-alert>

<div class='auth-bg'></div>
<div *ngIf="verificationSection" class='auth-card shadow'>
   <div class='login-logo mb-3'>Login</div>
    <form [formGroup]="loginForm" (ngSubmit)="sendLoginRequest()">
   <div class='form-group mb-3'>
     <label class='form-label'>
       User ID
     </label>
     <input type='text' class='form-control' formControlName="userId" placeholder="Enter User Id"/>
     <small
     *ngIf="loginForm.controls['userId'].hasError('required') && loginForm.controls['userId'].touched"
     class="text-danger support-text">User ID is required</small>
   </div>
   <div class='form-group mb-3'>
     <label class='form-label'>
       Password
     </label>
     <input type='password' class='form-control' formControlName="password" placeholder="Enter Password"/>
     <small *ngIf="
                  loginForm.controls['password'].hasError('required') &&
                  loginForm.controls['password'].touched" class="text-danger support-text">Password is
                required</small>
   </div>
   <div class='form-group mb-3'>
     <button class='btn btn-primary w-100' type="submit" [disabled]="Loader">
      <span *ngIf="!Loader">Submit</span>
      <div *ngIf="Loader" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div></button>
    </div>
  </form>
  <div class="text-center">
    <span >Don't have an account? <a href="" class=" text-primary" routerLink="/auth/signUp">Signup</a> </span>
</div>
</div>
<div class="d-flex justify-content-center" id="recaptcha-container-login"></div>
 <app-phone-verification *ngIf="!verificationSection" [confirmationResult]="fireBaseConfirmationResult" [loginStatusResult]="loginStatusResult"></app-phone-verification>