/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');


body{
    font-family: 'Poppins', sans-serif !important;
}
.cursor-pointer{
    cursor: pointer;
}
.login-logo{
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}
.auth-card{
    max-width: 540px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width:560px){
    .auth-card{
        width: 100%;
    }
}

.auth-bg{
    background-image: url('./assets/images/bg.jpg');
    background-repeat: no-repeat;
    display: block;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    filter: brightness(75%);
    background-position: center center;
    background-attachment: fixed;
}
.auth-card input:focus{
    box-shadow: none !important;
}

.navbar .dropdown-menu {
    left: -155px !important;
}

.navbar .dropdown-toggle:empty::after{
    display: none !important;
}
.dropdown-menu i{
    width: 20px;
}

table tr{
    white-space: nowrap;
    cursor: pointer;
}

.badge{
    width: 100px !important;
}

.text-decoration{
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}


.btn-primary {
    background-color: #324d90 !important;
    border-color: #324d90 !important;
    &:hover{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    &:active{
        background-color: #324d90 !important;
    }
}
.dropdown-item:active{
    background-color: #324d90 !important;
}
.active>.page-link, .page-link.active {
    background-color: #324d90 !important;
    border-color: #324d90 !important;
    color: #fff !important;
  }
  .page-link {
    color: #324d90 !important;
}
.page-link:focus {
    box-shadow: none !important;
}
.form-control:focus{
    box-shadow: none !important;
}
.separate-width-height{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.edit-profile-img {
    width: 25px;
    height: 25px;
    color: white;
    background-color: #4b4a4a;
    border: 1px solid #fff;
    position: relative;
    bottom: 25px;
    left: 67px;
    border-radius: 50%;
}
.object-fit-cover{
    object-fit: cover;
}
.profile-width-height {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    border: 1px solid #fff;
}
.profile-dropdown::after{
    display: none;
}
.btn-close:focus{
    box-shadow: none !important;
}
.profile-avatar{
    height: 100px;
    width: 100px;
}
.navbar{
    background-color: #324d90 !important;
    position: sticky;
    top: 0;
    z-index: 5;
}
.disable{
    pointer-events: none;
}
.loader{
    position: fixed;
    top: 50%;
    left: 50%;
}